<h3>Programming Books</h3>
<button (click)="isShowing =!isShowing" >
   <ng-container *ngIf="!isShowing">Show Books</ng-container> 
   <ng-container *ngIf="isShowing">Hide Books</ng-container>
</button>
<ul *ngIf="isShowing"> 
<ng-container  *ngFor="let book of books; let i=index" >
    <li>
   <p class="sno">{{i+1}}</p>
   <img  [src]="book.src" [alt]="book.name" style ="width: 100px" >
   <p class="title"> <strong>{{book.name | titlecase}}</strong> By <i>{{book.author | titlecase}}</i> </p>   
   <p class="currency">{{book.price | currency: ''}}</p> 
  </li>
</ng-container>
</ul>